<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<style>
    .main{
        max-width: 20%;
        border: 2px solid black;
        border-radius: 16px;
    }
</style>

<body>
    <div class="main">
        <form action="/login" method=>
            <label id="username">Username :</label>
            <input for="username" type="text">
            <label for="password">Password :</label>
            <input id="password"  type="password">
            <label for="favoriteGenre">favoriteGenre :</label>
            <input type="text">
            <label for="bio">Bio :</label>
            <textarea id="bio"></textarea>
        </form>
    </div>
</body>

</html>